{
  "presets": ["es2015", "stage-1", "react"],
  "env": {
    "test": {
      "sourceMaps": "both"
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-display-name"
      ],
    }
  }
}
