<div ng-include="'components/shell/shell.html'"></div>

<div layout="row" flex style="overflow-y: hidden">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
              md-disable-backdrop md-whiteframe="4">
    <md-content layout="column" flex>
      <md-list class="md-dense" ng-class="{'set-size': isLarge()}">
        <md-subheader class="md-no-sticky">Subheader</md-subheader>
        <md-list-item class="md-2-line" ng-click="doSomething();">
          <div class="md-list-item-text">
            <h3>Hi there!</h3>
            <p>I'm a side bar thing.</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="doSomething();">
          <div class="md-list-item-text">
            <h3>Filters here?</h3>
            <p>Or any other secondary actions.</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="doSomething();">
          <div class="md-list-item-text">
            <h3>Try resizing the page</h3>
            <p>Also try on mobile.</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div layout="row" flex style="overflow-y: auto;" layout-align="center start">
    <md-card class="md-whiteframe-6dp" style="margin: 30px; width: 100%; max-width: 960px" flex>
      <md-tabs md-dynamic-height>
        <md-tab label="explore">
          <md-content class="md-padding">
            <md-list>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[0].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 1</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 2</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 3</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 4</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 5</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 6</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 7</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img ng-src="https://avatars3.githubusercontent.com/u/977067?v=3&s=25" class="md-avatar" alt="{{todos[1].who}}" />
                <div class="md-list-item-text">
                  <h3>Adventure 8</h3>
                  <p>
                    Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.
                  </p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
        <md-tab label="search">
          <md-content class="md-padding">
            <div>
              <form name="userForm">
                <div layout="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <md-contact-chips
                      ng-model="ctrl.contacts"
                      md-contacts="ctrl.querySearch($query)"
                      md-contact-name="name"
                      md-contact-image="image"
                      md-contact-email="email"
                      md-require-match="true"
                      md-highlight-flags="i"
                      filter-selected="ctrl.filterSelected"
                      placeholder="Search">
                    </md-contact-chips>
                  </md-input-container>
                </div>
                <div layout="row" layout-wrap flex>
                  <div ng-repeat="item in items">
                    <md-checkbox style="margin-right: 20px;" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                      {{ item }}
                    </md-checkbox>
                  </div>
                </div>
              </form>
            </div>
            <div layout="row" flex>
              <div flex></div>
              <md-button class="md-raised md-primary">
                Search
              </md-button>
            </div>
          </md-content>
        </md-tab>
    </md-card>
  </div>
</div>
